## Ejercicios repaso Pandas

In [2]:
import pandas as pd
lst1 = ['gato', 'perro', 'ratón', 'elefante', 'rinoceronte']
lst2 = [x for x in range(1,6)]

1. Convierte lst1 a un Series y lst2 a otro Series. Una vez creados, combinar los Series para crear un DataFrame

In [3]:
serie1 = pd.Series(lst1)
serie2 = pd.Series(lst2)

df = pd.DataFrame({'animales': serie1, 'numeros': serie2})

print(df)

      animales  numeros
0         gato        1
1        perro        2
2        ratón        3
3     elefante        4
4  rinoceronte        5

2. Renombra la Series basada en lst1 creada previamente a "animales"

In [5]:
serie1 = serie1.rename('animales')
print(serie1)

0           gato
1          perro
2          ratón
3       elefante
4    rinoceronte
Name: animales, dtype: object

3. Crea dos series de tamaño 10 con valores entre 1 y 10. Elimina del series1 los elementos que aparezcan en Series2

In [7]:
import numpy as np
s1 = pd.Series(np.random.randint(1,11,size = 10))
s2 = pd.Series(np.random.randint(1,11,size = 10))

print(s1,s2)
# eliminamos lo elementos de la primera serie que aparezcan en la segunda
s1 = s1[~s1.isin(s2)]
print(s1)

0    1
1    4
2    2
3    2
4    5
5    8
6    3
7    1
8    6
9    3
dtype: int64 0     9
1    10
2     8
3     2
4     3
5     7
6     4
7     5
8     4
9     5
dtype: int64
0    1
7    1
8    6
dtype: int64

4. Obtén los elementos no comunes en ambas series

In [8]:
no_comunes = s1[~s1.isin(s2)] | s2[~s2.isin(s1) ]
print(no_comunes)

0     True
1    False
2    False
3    False
4    False
5    False
6    False
7     True
8     True
9    False
dtype: bool

5. Obtén el mínimo y los percentiles 25, 50, 75 y 80 de la primera serie

In [12]:
# Creamos la Serie
serie1 = pd.Series(np.random.randint(1, 101, size=20))

# Obtenemos el mínimo y los percentiles 25, 50, 75 y 80
resultados = serie1.describe(percentiles=[0.25, 0.5, 0.75, 0.8])
print(resultados)

count     20.000000
mean      49.000000
std       31.109315
min        9.000000
25%       18.000000
50%       47.500000
75%       72.250000
80%       79.600000
max      100.000000
dtype: float64

6. Obtén la frecuencia con la que se repite cada valor

In [13]:
serie1.value_counts()

14     3
99     2
32     1
48     1
27     1
19     1
70     1
47     1
82     1
51     1
79     1
43     1
15     1
9      1
100    1
57     1
61     1
Name: count, dtype: int64

7. Mantén el valor de los dos elementos más repetidos y al resto asignale el valor "Otros"

In [14]:
comunes = serie1.value_counts().head(2).index.tolist()

serie1[~serie1.isin(comunes)] = 'otros'

print(serie1)

0     otros
1     otros
2        14
3     otros
4     otros
5     otros
6     otros
7     otros
8     otros
9        14
10    otros
11    otros
12       14
13       99
14    otros
15    otros
16    otros
17    otros
18    otros
19       99
dtype: object

8. Crea un Series de tamaño 35 con valores aleatorios. Crea un DataFrame basado en este Series de dimensión 7 filas y 5 columnas

In [15]:
s1 = pd.Series(np.random.randint(1,10,size = 35))
df = pd.DataFrame(s1.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  1  1  4  5  9
1  6  6  8  6  3
2  1  7  1  8  5
3  1  7  8  6  1
4  2  9  5  6  7
5  5  7  9  9  8
6  1  5  5  5  1

9. Partiendo de las series creadas en el *Ejercicio 1* apilar las dos series verticalmente.

In [16]:
serie1 = pd.Series(lst1)
serie2 = pd.Series(lst2)
apilado = pd.concat([serie1, serie2], axis=0)
print(apilado)

0           gato
1          perro
2          ratón
3       elefante
4    rinoceronte
0              1
1              2
2              3
3              4
4              5
dtype: object

10. Ahora apila horizontalmente

In [17]:
apilado = pd.concat([serie1, serie2], axis=1a)
print(apilado)

             0  1
0         gato  1
1        perro  2
2        ratón  3
3     elefante  4
4  rinoceronte  5

11. Cómo convertir en mayúscula el primer caracter de Series de animales

In [19]:
def capitalizar_primera_letra(texto):
    return texto.capitalize()
animales = serie1
animales = animales.apply(capitalizar_primera_letra)
print(animales)

0           Gato
1          Perro
2          Ratón
3       Elefante
4    Rinoceronte
dtype: object

12. Calcula el número de caracteres de cada elemento

In [20]:
def longitud(texto):
    return len(texto)
longitudes = animales.apply(longitud)
print(longitudes)

0     4
1     5
2     5
3     8
4    11
dtype: int64

13. Calcula la diferencia entre los valores de cada elemento consecutivo del Series numérico

In [27]:
numeros = pd.Series(lst2)

diferencias = pd.Series([numeros.iloc[i+1] - numeros.iloc[i] for i in range(len(numeros)-1)])
print(numeros)
print(diferencias)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0    1
1    1
2    1
3    1
dtype: int64

14. Dada la lista siguiente de fechas, carga un Series de string a datetime
['2015-08-06T12:20', '2012-04-02', '2021/01/03', '20191121', '01-12-2015', '04 Jan 2007']

In [31]:
fechas = pd.Series(['2015-08-06T12:20', '2012-04-02', '2021/01/03', '20191121', '01-12-2015', '04 Jan 2007'])

# Definir una función para intentar varios formatos de fecha y devolver el primer formato válido
def try_parsing_date(text):
    for fmt in ('%Y-%m-%dT%H:%M', '%Y-%m-%d', '%Y/%m/%d', '%Y%m%d', '%d-%m-%Y', '%d %b %Y'):
        try:
            return pd.to_datetime(text, format=fmt)
        except ValueError:
            pass
    raise ValueError(f'No se pudo convertir la fecha: {text}')

# Aplicar la función a cada elemento de la serie
fechas_convertidas = fechas.apply(try_parsing_date)

# Cambiar el formato a '%Y-%m-%dT%H:%M'
fechas_formateadas = fechas_convertidas.dt.strftime('%Y-%m-%dT%H:%M')

print(fechas_formateadas)

0    2015-08-06T12:20
1    2012-04-02T00:00
2    2021-01-03T00:00
3    2019-11-21T00:00
4    2015-12-01T00:00
5    2007-01-04T00:00
dtype: object

15. Obtén el día del año del Series anterior

In [32]:
fechas_dt = pd.to_datetime(fechas_formateadas)
dias_del_año = fechas_dt.dt.dayofyear

print(dias_del_año)

0    218
1     93
2      3
3    325
4    335
5      4
dtype: int32

16. Obtén el día de la semana

In [33]:
dias_de_la_semana_numeros = fechas_dt.dt.dayofweek
dias_de_la_semana_nombres = fechas_dt.dt.strftime('%A')

print(dias_de_la_semana_numeros)
print(dias_de_la_semana_nombres)

0    3
1    0
2    6
3    3
4    1
5    3
dtype: int32
0    Thursday
1      Monday
2      Sunday
3    Thursday
4     Tuesday
5    Thursday
dtype: object

17. Crea un DataFrame basado en un Series de 10 elementos que se genere aleatoriamente entre "manzana", "plátano", "zanahoria" y pesos que sea un Series de 10 elementos aleatorios entre 1 y 10. Calcula la media del peso por fruta.

In [34]:
frutas = pd.Series(np.random.choice(['manzana', 'plátano', 'zanahoria'], 10))
pesos = pd.Series(np.random.randint(1, 11, 10))
df = pd.DataFrame({'fruta': frutas, 'peso': pesos})
media_peso_por_fruta = df.groupby('fruta').mean()

print(media_peso_por_fruta)

               peso
fruta
manzana    7.000000
plátano    5.500000
zanahoria  8.333333

18. Crea un Series que contenga los 10 primeros lunes de 2022 como índice y un número aleatorio como valor

In [35]:
fechas = pd.date_range(start='2022-01-03', periods=10, freq='W-MON')
valores = np.random.rand(10)
serie_lunes = pd.Series(valores, index=fechas)
print(serie_lunes)

2022-01-03    0.093200
2022-01-10    0.605607
2022-01-17    0.591034
2022-01-24    0.767764
2022-01-31    0.412314
2022-02-07    0.376368
2022-02-14    0.531030
2022-02-21    0.019900
2022-02-28    0.810151
2022-03-07    0.462699
Freq: W-MON, dtype: float64

19. Crea un DataFrame basado en el Series del *Ejercicio 18* con las columnas llamadas fecha y precio

In [36]:
df = pd.DataFrame({'fecha': serie_lunes.index, 'precio': serie_lunes.values})
print(df)

       fecha    precio
0 2022-01-03  0.093200
1 2022-01-10  0.605607
2 2022-01-17  0.591034
3 2022-01-24  0.767764
4 2022-01-31  0.412314
5 2022-02-07  0.376368
6 2022-02-14  0.531030
7 2022-02-21  0.019900
8 2022-02-28  0.810151
9 2022-03-07  0.462699

20. Genera un DataFrame de 5x5 y posteriormente invierte el orden de los valores de sus filas

In [38]:
df = pd.DataFrame(np.random.rand(5, 5))

df_invertido = df.iloc[::-1].reset_index(drop=True)
print(df_invertido)

          0         1         2         3         4
0  0.677621  0.434453  0.912577  0.154754  0.733404
1  0.716029  0.133005  0.999546  0.015498  0.934117
2  0.203348  0.358784  0.085867  0.217220  0.184255
3  0.510183  0.571786  0.270658  0.897728  0.145764
4  0.821887  0.336637  0.909481  0.370858  0.771770

21. Añade una nueva columna que sea el máximo entre el mínimo de cada fila

In [39]:
df['max_min'] = df.min(axis=1).max()
print(df)

          0         1         2         3         4   max_min
0  0.821887  0.336637  0.909481  0.370858  0.771770  0.336637
1  0.510183  0.571786  0.270658  0.897728  0.145764  0.336637
2  0.203348  0.358784  0.085867  0.217220  0.184255  0.336637
3  0.716029  0.133005  0.999546  0.015498  0.934117  0.336637
4  0.677621  0.434453  0.912577  0.154754  0.733404  0.336637